<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/urbankick</property>
        <property name="hibernate.connection.username">urbankick</property>
        <property name="hibernate.connection.password">password123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="Entity.Adresse"/>
        <mapping class="Entity.Utilisateur"/>
        <mapping class="Entity.Organisateur"/>
        <mapping class="Entity.Joueur"/>
        <mapping class="Entity.Equipe"/>
        <mapping class="Entity.Stade"/>
        <mapping class="Entity.Ligue"/>
        <mapping class="Entity.Tour"/>
        <mapping class="Entity.Match"/>
        <mapping class="Entity.Penalty"/>
        <mapping class="Entity.Composition"/>
        <mapping class="Entity.StatsMatch"/>
        <mapping class="Entity.StatJoueur"/>
        <mapping class="Entity.FaitdeMatch"/>
        <mapping class="Entity.Pronostic"/>
        <mapping class="Entity.Vote"/>
        <mapping class="Entity.Jaime"/>
        <mapping class="Entity.Commentaire"/>
        <mapping class="Entity.Reponse"/>
        <mapping class="Entity.Condition"/>
        <mapping class="Entity.RègleDiscip"/>
        <mapping class="Entity.RègleClassement"/>
        <mapping class="Entity.Classement"/>
        <!-- Add other class mappings here -->
    </session-factory>
</hibernate-configuration>